/*
	This CSS attempts to create a basic yet accessible style for highlighted code.
*/

.tempest-highlight {
	padding: 0;
	background: #fff;
}

.tempest-highlight code {
	color: #444;
	margin: 0;
	padding: 2ex 2ch;
	background-color: #fff;
	line-height: 2.5ex;
	word-wrap: normal;
	white-space: pre;
	font-weight: bold;
	border-radius: 0;
	display: inline-block;
	filter: invert( var(--filter-invert) );
}

.tempest-highlight-language {
	display: block;
	color: black;
	background: #d3d3d3;
	font-weight: bold;
	border-radius: 0 !important;
	user-select: none;
	pointer-events: none;
}

.tempest-highlight-language-icon {
	display: inline;
	vertical-align: middle;
	width: 4ch;
}

.tempest-highlight-language img {
	border-radius: 0;
}